html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 430px;
  padding: 15px;
  margin: auto;
}

.form-signin-results {
  width: 100%;
  max-width: 430px;
  padding: 15px;
  margin: auto;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

#output-image {
  max-width: 400px;
  padding-bottom: 10px;
}

#circle_green {
    background: #32CD32;
    text-align: left;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display:inline-flex;
}

#circle_red {
    background: #FF0000;
    text-align: left;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display:inline-flex;
}

#circle_yellow {
    background: #fcdb03;
    text-align: left;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display:inline-flex;
}

#circle_blue {
    background: #0345fc;
    text-align: left;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display:inline-flex;
}